<div class="col-xs-12 col-sm-6 col-md-3">
  <a class="list-group-item">
      <img src="../../../../assets/images/{{celebrity.img}}" class="img-responsive">
      <h4 class="list-group-item-heading">{{celebrity.name}}</h4>
      <p class="list-group-item-text">{{celebrity.desc}}</p>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" (click)="sendOpinion('loved')">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" (click)="sendOpinion('hated')">
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" (click)="sendOpinion('ignored')">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
      <div class="clearfix"></div>
  </a>
</div>
