<ul class="nav nav-pills">
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/list/all">All</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/list/loved">Loved</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/list/hated">Hated</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/list/ignored">Ignored</a>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>

